@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import "./themes.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* * {
  @apply bg-black text-terminal-green font-terminal text-sm md:text-base;
} */

/* Default theme, so can change colours */
.default-theme {
  @apply bg-black text-terminal-green font-terminal text-sm md:text-base;
  /* font-family: "Glass_TTY_VT220" !important; */
  --crt-glow-colour: #4AF626; /* RGBA */

  img {
    @apply border-terminal-green !important;
  }

  .cursor {
    @apply bg-terminal-green;
  }

  .line {
    @apply border-terminal-green my-2;
  }

  .typing-text,
  .terminal-highlight {
    @apply text-white;
  }

  /* .error {
    @apply text-red-500;
  } */

  h1 {
    @apply font-bold text-base md:text-lg
  }

  /* .link {
    @apply text-blue-400 underline;
  } */

}


/* Fallback values */
.typing-text {
  @apply text-white;
}

.error {
  @apply text-red-500;
}

.link {
  @apply text-blue-400 underline;
}

.terminal-highlight {
  @apply text-white;
}

.line {
  @apply border-terminal-green my-2;
}


.cursor {
  display: inline-block;
  width: 10px;
  height: 20px;
}

.cursor-animation {
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}


/* Tailwind utility styles for images */
img {
  @apply max-w-[1000px] w-full h-auto ; 
  border: 4px solid; 
}


/* crt code adjusted from here (made a little less aggressive) https://aleclownes.com/2017/02/01/crt-display.html*/

@keyframes flicker {
  0% {
    opacity: 0.2;
  }
  5% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.18;
  }
  15% {
    opacity: 0.6;
  }
  20% {
    opacity: 0.15;
  }
  25% {
    opacity: 0.55;
  }
  30% {
    opacity: 0.45;
  }
  35% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.65;
  }
  50% {
    opacity: 0.75;
  }
  55% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.2;
  }
  65% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.5;
  }
  85% {
    opacity: 0.48;
  }
  90% {
    opacity: 0.45;
  }
  95% {
    opacity: 0.28;
  }
  100% {
    opacity: 0.2;
  }
}

/*  More muted textShadow
@keyframes textShadow {
  0% {
    text-shadow: 0.2px 0 1px rgba(0, 30, 255, 0.5),
      -0.2px 0 1px rgba(255, 0, 80, 0.3), 0 0 1px;
  }
  25% {
    text-shadow: 0.5px 0 1px rgba(0, 30, 255, 0.5),
      -0.5px 0 1px rgba(255, 0, 80, 0.3), 0 0 1px;
  }
  50% {
    text-shadow: 0.1px 0 1px rgba(0, 30, 255, 0.5),
      -0.1px 0 1px rgba(255, 0, 80, 0.3), 0 0 1px;
  }
  75% {
    text-shadow: 0.4px 0 1px rgba(0, 30, 255, 0.5),
      -0.4px 0 1px rgba(255, 0, 80, 0.3), 0 0 1px;
  }
  100% {
    text-shadow: 0.2px 0 1px rgba(0, 30, 255, 0.5),
      -0.2px 0 1px rgba(255, 0, 80, 0.3), 0 0 1px;
  }
} */

:root {
  --crt-primary: rgba(0, 30, 255, 0.5);
  --crt-secondary: rgba(255, 0, 80, 0.3);
}

@keyframes textShadow {
  0% {
    text-shadow:
      0.4389924193300864px 0 1px var(--crt-primary),
      -0.4389924193300864px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  5% {
    text-shadow:
      2.7928974010788217px 0 1px var(--crt-primary),
      -2.7928974010788217px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  10% {
    text-shadow:
      0.02956275843481219px 0 1px var(--crt-primary),
      -0.02956275843481219px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  15% {
    text-shadow:
      0.40218538552878136px 0 1px var(--crt-primary),
      -0.40218538552878136px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  20% {
    text-shadow:
      3.4794037899852017px 0 1px var(--crt-primary),
      -3.4794037899852017px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  25% {
    text-shadow:
      1.6125630401149584px 0 1px var(--crt-primary),
      -1.6125630401149584px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  30% {
    text-shadow:
      0.7015590085143956px 0 1px var(--crt-primary),
      -0.7015590085143956px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  35% {
    text-shadow:
      3.896914047650351px 0 1px var(--crt-primary),
      -3.896914047650351px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  40% {
    text-shadow:
      3.870905614848819px 0 1px var(--crt-primary),
      -3.870905614848819px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  45% {
    text-shadow:
      2.231056963361899px 0 1px var(--crt-primary),
      -2.231056963361899px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  50% {
    text-shadow:
      0.08084290417898504px 0 1px var(--crt-primary),
      -0.08084290417898504px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  55% {
    text-shadow:
      2.3758461067427543px 0 1px var(--crt-primary),
      -2.3758461067427543px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  60% {
    text-shadow:
      2.202193051050636px 0 1px var(--crt-primary),
      -2.202193051050636px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  65% {
    text-shadow:
      2.8638780614874975px 0 1px var(--crt-primary),
      -2.8638780614874975px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  70% {
    text-shadow:
      0.48874025155497314px 0 1px var(--crt-primary),
      -0.48874025155497314px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  75% {
    text-shadow:
      1.8948491305757957px 0 1px var(--crt-primary),
      -1.8948491305757957px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  80% {
    text-shadow:
      0.0833037308038857px 0 1px var(--crt-primary),
      -0.0833037308038857px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  85% {
    text-shadow:
      0.09769827255241735px 0 1px var(--crt-primary),
      -0.09769827255241735px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  90% {
    text-shadow:
      3.443339761481782px 0 1px var(--crt-primary),
      -3.443339761481782px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  95% {
    text-shadow:
      2.1841838852799786px 0 1px var(--crt-primary),
      -2.1841838852799786px 0 1px var(--crt-secondary),
      0 0 3px;
  }
  100% {
    text-shadow:
      2.6208764473832513px 0 1px var(--crt-primary),
      -2.6208764473832513px 0 1px var(--crt-secondary),
      0 0 3px;
  }
}




.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}

/* this container will escape the CRT overlay */
.no-crt {
  position: relative;
  z-index: 3;         /* higher than 2 */
  /* also kill any text-shadow flicker inside it */
  animation: none !important;
  text-shadow: none  !important;
}


