@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* * {
  @apply bg-black text-terminal-green font-terminal text-sm md:text-base;
} */

/* Default theme, so can change colours */
.default-theme {
  @apply bg-black text-terminal-green font-terminal text-sm md:text-base;
  /* font-family: "Glass_TTY_VT220" !important; */

  img {
    @apply border-terminal-green !important;
  }

  .cursor {
    @apply bg-terminal-green;
  }

  .line {
    @apply border-terminal-green my-2;
  }

  .typing-text,
  .terminal-highlight {
    @apply text-white;
  }

  /* .error {
    @apply text-red-500;
  } */


  /* .link {
    @apply text-blue-400 underline;
  } */

}

.white-theme {
  @apply bg-black text-white font-terminal text-sm md:text-base;

  img {
    @apply border-white !important;
  }

  .cursor {
    @apply bg-white;
  }

  .line {
    @apply border-white my-2;
  }

  .typing-text {
    @apply text-white;
  }

  .terminal-highlight {
    @apply text-white font-bold;
  }

  /* .error {
    @apply text-red-500;
  } */

  /* .link {
    @apply text-blue-400 underline;
  } */
}

.black-theme {
  @apply bg-white text-black font-terminal text-sm md:text-base;

  img {
    @apply border-black !important;
  }
  .cursor {
    @apply bg-black;
  }

  .line {
    @apply border-black my-2;
  }

  .typing-text {
    @apply text-black;

  }

  .terminal-highlight {
    @apply text-black font-bold;
  }

  /* .error {
    @apply text-red-500;
  } */

  /* .link {
    @apply text-blue-400 underline;
  } */
}

.amber-theme {
  @apply bg-black text-[#FFBF00] font-terminal text-sm md:text-base;

  img {
    @apply border-[#FFBF00] !important;
  }

  .cursor {
    @apply bg-[#FFBF00];
  }

  .line {
    @apply border-[#FFBF00] my-2;
  }

  .typing-text,
  .terminal-highlight {
    @apply text-white;
  }

  /* .error {
    @apply text-red-500;
  } */

  /* .link {
    @apply text-[#FFD580] underline;
  } */
}

.dos-theme {
  @apply bg-[#0000AA] text-[#FFFFFF] font-terminal text-sm md:text-base;

  img {
    @apply border-white !important;
  }

  .cursor {
    @apply bg-white;
  }

  .line {
    @apply border-white my-2;
  }

  .typing-text,
  .terminal-highlight {
    @apply text-white;
  }

  /* .error {
    @apply text-red-500;
  } */
/* 
  .link {
    @apply text-[#FFFF00] underline;
  } */
}

.red-theme {
  @apply bg-black text-[#FF5555] font-terminal text-sm md:text-base;

  img {
    @apply border-[#FF5555] !important;
  }

  .cursor {
    @apply bg-[#FF5555];
  }

  .line {
    @apply border-[#FF5555] my-2;
  }

  .typing-text,
  .terminal-highlight {
    @apply text-white;
  }

  /* .error {
    @apply text-red-500;
  } */

  /* .link {
    @apply text-[#FF9999] underline;
  } */
}

.solaris-theme {
  @apply bg-[#1a1a1a] text-[#cccc99] font-terminal text-sm md:text-base;

  img {
    @apply border-[#cccc99] !important;
  }

  .cursor {
    @apply bg-[#cccc99];
  }

  .line {
    @apply border-[#999966] my-2;
  }

  .typing-text,
  .terminal-highlight {
    @apply text-white;
  }
}

.purple-theme {
  @apply bg-black text-[#BF00FF] font-terminal text-sm md:text-base;

  img {
    @apply border-[#BF00FF] !important;
  }

  .cursor {
    @apply bg-[#BF00FF];
  }

  .line {
    @apply border-[#BF00FF] my-2;
  }

  .typing-text,
  .terminal-highlight {
    @apply text-white;
  }
}

.blue-theme {
  @apply bg-black text-[#00BFFF] font-terminal text-sm md:text-base;

  img {
    @apply border-[#00BFFF] !important;
  }

  .cursor {
    @apply bg-[#00BFFF];
  }

  .line {
    @apply border-[#00BFFF] my-2;
  }

  .typing-text,
  .terminal-highlight {
    @apply text-white;
  }

}


/* Fallback values */
.typing-text {
  @apply text-white;
}

.error {
  @apply text-red-500;
}

.link {
  @apply text-blue-400 underline;
}

.terminal-highlight {
  @apply text-white;
}

.line {
  @apply border-terminal-green my-2;
}


.cursor {
  display: inline-block;
  width: 10px;
  height: 20px;
}

.cursor-animation {
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}


img {
  @apply max-w-[1000px] border-4; /* border-terminal-green !important; /* Set your desired max width */
  width: 100%; /* Ensure the image is responsive */
  height: auto; /* Maintain aspect ratio */
}

/* crt code adjusted from here (made a little less aggressive) https://aleclownes.com/2017/02/01/crt-display.html*/

@keyframes flicker {
  0% {
    opacity: 0.2;
  }
  5% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.18;
  }
  15% {
    opacity: 0.6;
  }
  20% {
    opacity: 0.15;
  }
  25% {
    opacity: 0.55;
  }
  30% {
    opacity: 0.45;
  }
  35% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.65;
  }
  50% {
    opacity: 0.75;
  }
  55% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.2;
  }
  65% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.5;
  }
  85% {
    opacity: 0.48;
  }
  90% {
    opacity: 0.45;
  }
  95% {
    opacity: 0.28;
  }
  100% {
    opacity: 0.2;
  }
}


@keyframes textShadow {
  0% {
    text-shadow: 0.2px 0 1px rgba(0, 30, 255, 0.5),
      -0.2px 0 1px rgba(255, 0, 80, 0.3), 0 0 1px;
  }
  25% {
    text-shadow: 0.5px 0 1px rgba(0, 30, 255, 0.5),
      -0.5px 0 1px rgba(255, 0, 80, 0.3), 0 0 1px;
  }
  50% {
    text-shadow: 0.1px 0 1px rgba(0, 30, 255, 0.5),
      -0.1px 0 1px rgba(255, 0, 80, 0.3), 0 0 1px;
  }
  75% {
    text-shadow: 0.4px 0 1px rgba(0, 30, 255, 0.5),
      -0.4px 0 1px rgba(255, 0, 80, 0.3), 0 0 1px;
  }
  100% {
    text-shadow: 0.2px 0 1px rgba(0, 30, 255, 0.5),
      -0.2px 0 1px rgba(255, 0, 80, 0.3), 0 0 1px;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}


